# server port
SERVERPORT=3002

# jwt secret
SECRET_JWT=websnake

# DATABASE INFO
DB_HOST=localhost
DB_USER=dev
DB_PASS=password
DB_BASE=mindmail_db
DB_PORT=33306

# AWS SES
ACCESS_KEY_ID=AKIAVBUGNNPBOBFZ7456
SECRET_ACCESS_KEY=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
SOURCE=ykatyhoney@gmail.com
SES_REGION=ap-southeast-2
# SMTP INFO
USER_EMAIL=cooperator0419@gmail.com
USER_PASS=rgm195910

# HOST
CLIENTURL=dev.mindmail.com
SERVERURL=http://localhost:3001/
clientId=90125512511-j8j6sk7uvq0k6034jem597m3f5l6k1a7.apps.googleusercontent.com
SENDGRID=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
FROMEMAIL=ykatyhoney@gmail.com