@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #1f2120;
  color: #fff;
  text-align: center;
  padding: 20px;
  scrollbar-color: #000;
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background-color: darkgray;
}

.menu {
  display: flex;
  flex-direction: column;
}

span {
  font-size: 16px;
  color: #FFF;
}

.mt-1 {
  margin-top: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  color: #00d7c3;
}

h2 {
  color: #FFF;
}

.main-container {
  padding-bottom: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}

/*Salesops*/

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  display: flex;
  align-items: center;
}

.clickable {
  color: #FFF;
  cursor: pointer;
}

.clickable:hover {
  color: #00d7c3;
  cursor: pointer;
}

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  float: left;
  display: flex;
  align-items: center;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #FFF;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*input url*/

.input_url {
  border: 2px solid #2196F3;
  background-color: white;
  color: black;
  width: 100%;
  font-size: 16px;
  color: #2196F3;
}

.input_url:focus {
  background: #2196F3;
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
  background: #222222;
	font-family: 'Lato', sans-serif;
}

.container{
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
	color: #AAAAAA;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

.plans {
  margin-top: 20px;
}

.plans .plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plans .plan {
  cursor: pointer;
  width: 44%;
}

.space-between {
  justify-content: space-between;
}

.plans .plan .plan-content {
  background-color: transparent;
  border: 3px solid #00d7c3;
  border-radius: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00d7c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
}

.plans .plan .plan-content img {
  margin-right: 30px;
  height: 72px;
}

.plans .plan .plan-details span {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  display: block;
  font-size: 18px;
  color: #00d7c3;
}

.plans .plan .plan-details p {
  color: #646a79;
  font-size: 14px;
  line-height: 18px;
}

.plans .plan .plan-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
  box-shadow: 0px 3px 5px 0px #e8e8e8;
}

.plans .plan input[type="radio"]:checked + .plan-content:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background: #00d7c3;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #00d7c3;
  box-shadow: 0px 0px 0px 2px #00d7c3;
}

.plans .plan input[type="radio"]:checked + .plan-content {
  border: 2px solid #fff;
  background: #00d7c3;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.plans .plan input[type="radio"]:checked + .plan-content .plan-details span {
  color: #000 !important;
}

.card-body {
    padding: 30px;
}
.btn-primary {
    border-color: #5a8dee !important;
    background-color: #5a8dee !important;
    color: #fff;
}
.form-submit{
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.kb-data-box {
  margin-top: 20px;
    width: 100%;
    flex: 1;
}

.kb-file-upload {
    margin-bottom: 20px;
}
.file-upload-box {
    border: 3px dashed #00d7c3;
    border-radius: 4px;
    min-height: 150px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8194aa;
    font-weight: 400;
    font-size: 15px;
}
.file-upload-box .file-upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.file-link{
    color: #00d7c3;
    text-decoration: underline;
    margin-left: 3px;
}
.file-upload-box .file-link:hover{
    text-decoration: none;
}
.file-atc-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.file-image {
    width: 68px;
    height: 92px;
    background-size: cover;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #eaecf1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #475f7b;
    padding: 3px;
}
.file-image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}
.file-detail {
    flex: 1;
    width: calc(100% - 210px);
}
.file-detail h6 {
    word-break: break-all;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}
.file-detail p {
    font-size: 12px;
    color: #8194aa;
    line-height: initial;
    font-weight: 400;
    margin-bottom: 8px;
}
.file-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.file-action-btn {
    font-size: 12px;
    color: #8194aa;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-right: 15px;
    cursor: pointer;
}

.file-action-btn:hover {
    color: #3d546f;
    text-decoration: underline;
}

.file-atc-box:last-child{
    margin-bottom: 0;
}