.combo-container {
  text-align: left;
}

.comboBoxOption {
  padding: 5px;
}

.combo-container ul {
  margin-top: 0px !important;
  padding-top: 0px;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 4px !important;
  max-height: 160px;
  border: solid 2px #00d7c3;
}

.combo-container ul li {
  color: #1f2120;
  background-color: #FFF !important;
}

.combo-container ul li:hover {
  color: #1f2120;
  background-color: #00d7c3 !important;
}